 body {
      margin: 0;
      padding: 0;
      background-color: #000000; /* black background */
      color: #ffffff; /* white text */
      font-family: Arial, sans-serif;
    }

    .navbar {
      background-color: #333333; /* dark gray navbar background */
      display: flex;
      justify-content: center;
      padding: 10px;
      width: 27%; /* Reduce the width to 50% */
    }
    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    .navbar li {
      margin-right: 20px; /* Add spacing between each Nav bar element */
    }
    .navbar a {
      color: #ffffff; /* white navbar text */
      text-decoration: none;
      padding: 5px;
    }
    .navbar a:hover {
      background-color: #666666; /* darker gray background on hover */
    }
    .title {
      font-size: 36px;
      text-transform: uppercase;
      margin-top: 50px;
    }
    .audio-player {
      display: none;
    }
    .mute-button {
      display: inline-block;
      background-color: transparent;
      color: #ffffff; /* white text */
      border: none;
      font-size: 16px;
      cursor: pointer;
      margin-top: 20px;
@keyframes vibration {
  0% {
    transform: translate(0);
    box-shadow: none;
  }
  10% {
    transform: translate(-1px, 1px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  20% {
    transform: translate(1px, -1px);
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1);
  }
  30% {
    transform: translate(0);
    box-shadow: none;
  }
  40% {
    transform: translate(1px, 1px);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: translate(-1px, -1px);
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.1);
  }
  60% {
    transform: translate(0);
    box-shadow: none;
  }
  70% {
    transform: translate(-1px, 1px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  80% {
    transform: translate(1px, -1px);
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1);
  }
  90% {
    transform: translate(0);
    box-shadow: none;
  }
  100% {
    transform: translate(-1px, -1px);
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.1);
  }
}

.slight-vibration {
  animation: vibration 0.3s infinite;
}